@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --blue:#1A2238;
    --light-blue:#9DAAF2;
    --text-color:#FF6A3D;
    --text-color2: #F4DB7D;
    
  }
}
.playball{
  font-family: var(--font-playball);
}
.playfair{
  font-family: var(--font-playfair);
}
.yatra{
  font-family: var(--font-yatra);
}
.unical{
  font-family: var(--font-unical);
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to left, var(--blue), black);
}
html {
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
